html { background-image: url(http://bunzilla.ga/css/img/idk-w.png); background-size: cover; background-attachment: fixed; mix-blend-mode: hard-light; text-rendering: optimizeLegibility;}
body { background: rgba(255,255,255,0.87);  }
header {
    background-image: linear-gradient(135deg, rgba(240,7,124,0.6) 0%, rgba(143,67,129,0.3) 100%),
        linear-gradient(45deg, transparent 0%, rgb(240,7,124) 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
header .h1 {
    font-size: 28px;
}
