.hero {
    flex-basis: 80%;
    padding: 1em;
    box-shadow: 0 0 20px #ccc;
    border-radius: 3px;
    line-height: 2;
}
.hero h2 {
    font-size: 42px;
}
.hero blockquote {
    border-left: 4px solid #1cf1db;
    box-shadow: inherit;
    padding: 1em;
}
