        </main>
        <footer class='footer'>
            <ul class='footer-nav'>
                <li><a href="https://github.com/generaltso">github</a></li>
                <li><a href="https://soundcloud.com/dayvonjersen">soundcloud</a></li>
            </ul>
        </footer>
    </body>
</html>
