        </main>
        <footer class='footer'>
            <nav class="block-grid s-vertical">
                <a href="https://github.com/generaltso">github</a>
                <a href="https://soundcloud.com/dayvonjersen">soundcloud</a>
            </nav>
        </footer>
    </body>
</html>
