<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>new portfolio</title>
        <link rel='stylesheet' href='/style.css'>
    </head>
    <body>
        <header>
            <nav class="navbar-alt">
                <a href="#" class='h1'>dayvonjersen</a>
                <a href='#' class='text-center'>about</a>
                <a href='#' class='text-center'>process</a>
                <a href='#' class='text-center'>projects</a>
                <a href='#' class='text-center'>contact</a>
            </nav>
        </header>

        <main>
