{{>header}}
    <div class="hero">
        <h2>I am officially out of ideas</h2>
        <blockquote>
            <p>pls halp</p>
            <address>~ kind regards</address>
        </blockquote>
    </div>
{{>footer}}
