{{>header}}
<div class="hero-container">
<div class="hero">
    <h2>nothing to see here</h2>
    <blockquote>
        <p>Just sketching out some ideas...</p>
        <address>~ regards</address>
    </blockquote>
</div>
</div>
{{>footer}}
